@media (max-width: 1070px){
  .subscribe{
    margin-top: 410px;
  }
}
@media (max-width: 1030px){
  .footer{
    &-inner{
      gap: 0;
      justify-content: space-between;
    }
  }
  .story{
    margin-top: 365px;
    &-inner{
      gap: 130px;
    }
  }
  .home{
    &-image{
      max-width: 360px;
    }
  }
  .feedback{
    &-inner{
      gap: 120px;
    }
  }
}
@media (max-width: 927px){
  .subscribe{
    &-inner{
      gap: 30px;
    }
    &-form{
      margin-bottom: 40px;
    }
  }
  .story, .feedback{
    &-watch{
      margin-top: 40px;
      &-bg{
        width: 350px;
        height: 350px;
      }
      &-image{
        width: 350px;
        height: 350px;
        background-size: cover;
      }
    }
  }
}
@media (max-width: 820px){
  .story{
    margin-top: 317px;
    &-inner{
      gap: 60px;
      flex-wrap: wrap;
    }
    &-watch{
      order: 1;
      margin: 0 auto;
    }
  }
  .feedback{
    padding-top: 0;
    &-inner{
      gap: 80px;
      flex-wrap: wrap;
    }
    &-watch{
      margin: 0 auto;
    }
  }
  .products{
    &-list{
      justify-content: center;
    }
  }
}
@media (max-width: 694px){
  .home{
    &-image{
      display: none;
    }
    &-text{
      margin-top: 100px;
      max-width: 450px;
    }
  }
  .userchoice{
    &-icon{
      filter: invert(1) brightness(2);;
    }
    &-image{
      filter: invert(1) brightness(2);;
    }
  }
  .story{
    margin-top: 712px;
  }
}
@media (max-width: 611px){
  .header{
    &-inner{
      gap: 20px;
      flex-wrap: wrap;
    }
  }
}
@media (max-width: 547px){
  .subscribe{
    margin-top: 1218px;
  }
  .feedback{
    &-watch{
      &:hover{
        .feedback-watch-image{
          transform: translate(-46px, 46px);
        }
      }
    }
  }
  .story{
    &-watch{
      &:hover{
        .story-watch-image{
          transform: translate(46px, -46px);
        }
      }
    }
  }
}
@media (max-width: 495px){
  .nav{
    gap: 20px;
    flex-wrap: wrap;
  }
  .home{
    &-text{
      margin-top: 150px;
    }
  }
  .subscribe{
    &-btn{
      padding: 0;
      width: 100px;
      
    }
  }
}